# If/Else Statements

In [10]:
num = 3
num

3

In [11]:
if num == 3:
    print("The number is 3.")
    print("Also print this.")
else:
    print("The number is not 3.")

The number is 3.
Also print this.

In [12]:
if num != 3:
    print("The number is not 3. It is", num, ".")
else:
    print("The number is 3.")

The number is 3.

# Elif - Else If

In [19]:
num = 200
if num == 200:
    print("The number is 200")
elif num ==150:
    print("The number is 150")
elif num ==100:
    print("Hey it's 100.")
else:
    print("The value is not 200, 150, or 100. It is", num)
print("This will always print because it is not part of the Else If evaluation.")

The number is 200
This will always print because it is not part of the Else If evaluation.

In [30]:
num = 301
if 200 >= num >= 160:
    print("Number is between 200 and 160")
elif num < 300:
    print("Number is under 300.")
else:
    print(num)

301

# For Statements

In [32]:
for l in "Python":
    print(l)

P
y
t
h
o
n

In [34]:
fruits = ["cherry", "tomato", "apple"]
for thingsthataregood in fruits:
    print(thingsthataregood)

cherry
tomato
apple

In [35]:
for i in range(len(fruits)):
    print(fruits[i])

cherry
tomato
apple

In [36]:
len(fruits)

3

In [41]:
fruits[0]

'cherry'

# While Statements

In [45]:
count = 0

In [47]:
while(count<=12):
    print("The current count is", count)
    count=count+2

The current count is 12

In [48]:
count

14

# Lists, Sets, and Dictionaries

## Lists

In [50]:
list1=['cherry', 'math', 1, 200, 3]
listnum = [1, 3, 7, 5]
listchr = ['cherry', 'math', 'spurs']

In [51]:
listchr

['cherry', 'math', 'spurs']

In [52]:
listnum

[1, 3, 7, 5]

In [53]:
list1

['cherry', 'math', 1, 200, 3]

In [54]:
listnum[2]

7

In [55]:
list1[4]

3

In [56]:
#Update List
list1[3]=2

In [57]:
list1

['cherry', 'math', 1, 2, 3]

In [58]:
list1[1]='science'
list1

['cherry', 'science', 1, 2, 3]

In [59]:
#Appending or Adding an element to a list
listnum.append(500)
listnum

[1, 3, 7, 5, 500]

In [60]:
del listnum[4]
listnum

[1, 3, 7, 5]

In [62]:
del listnum[0]
listnum

[7, 5]

## Sets

In [63]:
nset = set([1, "apple", "e"])

In [64]:
nset

{1, 'apple', 'e'}

In [66]:
nset.add("l")
print(nset)
nset

{'l', 1, 'apple', 'e'}

{1, 'apple', 'e', 'l'}

## Dictionary

In [67]:
dict={'Name': 'Matt', 'Age':20, 'Class':'Some'}
print(dict)

{'Name': 'Matt', 'Age': 20, 'Class': 'Some'}

In [68]:
dict['Age']

20

In [69]:
dict['Name']

'Matt'

In [71]:
#Update Dictionary
dict['Age']=22
dict

{'Name': 'Matt', 'Age': 22, 'Class': 'Some'}

In [72]:
#Add an element to Dictionary
dict['Fav_Team']='Spurs'
dict

{'Name': 'Matt', 'Age': 22, 'Class': 'Some', 'Fav_Team': 'Spurs'}

# Functions

In [73]:
def my_fun():
    print("Hello World.")

In [74]:
my_fun()

Hello World.

In [96]:
def my_fun(name):
    print("Hello world, my name is", name)

In [77]:
my_fun("Ted Lasso")

Hello world, my name is Ted Lasso

In [81]:
def my_fun(name1, name2):
    print("Hello world, my name is", name2, "and this is my friend", name1)

In [82]:
my_fun("Ted Lasso", "Bob")

Hello world, my name is Bob and this is my friend Ted Lasso

In [89]:
def my_fun(*name):
    print("My favorite player is", name[0])

In [90]:
my_fun("Will", "Bill", "Scott", "Sam")

My favorite player is Will

In [134]:
def my_fun(name1, name2, name3):
    print("My favorite player is", name3)

In [135]:
my_fun("Will", "Bill", "Scott")

My favorite player is Scott

In [136]:
my_fun(name3="Will", name2="Bill", name1="Scott")

My favorite player is Will

In [94]:
def my_fun(**name):
    print("My fav player", name["best"])

In [95]:
my_fun(least="Scott", best="Jill")

My fav player Jill

In [113]:
def my_fun(name1="Ted", name2=None):
    print("Hello world, my name is", name2, "and this is my friend", name1)

In [114]:
my_fun("Jay")

Hello world, my name is None and this is my friend Jay

In [115]:
def my_fun(food):
    for x in food:
        print(x)

In [116]:
fruits=["cherry", "tomato", "apple"]

In [117]:
my_fun(fruits)

cherry
tomato
apple

In [118]:
nums=[1, 3, 6, 1, 92]

In [119]:
my_fun(nums)

1
3
6
1
92

In [120]:
def my_fun(x):
    return x/2

In [123]:
my_fun(3)

1.5

In [131]:
def per_chg(x1, x2):
    return ((x2-x1)/x1)*100

In [132]:
per_chg(100, 110)

10.0

In [ ]:
#https://developers.google.com/edu/python/lists