# If/Else Statements

In [7]:
value = 3

In [8]:
if value==1:
    print("The value is 1")
else:
    print("The value is not 1")

The value is not 1

In [10]:
# Not just print but tell me the value
if value==1:
    print("The value is 1")
else:
    print("The value is not 1. Instead the value is: ", value, " isn't that better?")

The value is not 1. Instead the value is:  3  isn't that better?

## Elif - Else If

In [12]:
value= 150
if value == 200:
    print("Value is 200")
elif value == 150:
    print("Value is 150")
elif value == 100:
    print("Hey it's 100")
else:
    print("Value is not 200, 150, or 100. Instead it is", value)
print("This is the End!")

Value is 150
This is the End!

In [31]:
value= 200
if 200>= value >=160:
    print("Value is less than or equal to 200 and greater than or equal to 160")
elif value < 300:
    print("Value is less than 300")
else:
    print("Value is greater than 300. Instead it is", value)
print("This is the End!")

Value is less than or equal to 200 and greater than or equal to 160
This is the End!

# For Statements

In [33]:
for letter in "Python":
    print(letter)

P
y
t
h
o
n

In [34]:
fruits = ["cherry", "apple", "candy"]
for f in fruits:
    print(f)

cherry
apple
candy

In [39]:
fruits = ["cherry", "apple", "candy"]
for i1 in range(len(fruits)):
    print(fruits[i1])

cherry
apple
candy

In [36]:
len(fruits)

3

In [38]:
range(len(fruits))

range(0, 3)

# While Statements

In [44]:
fruits[2]

'candy'

In [45]:
count = 0

In [47]:
while(count<9):
    print("The count is currently", count)
    count=count+2

The count is currently 0
The count is currently 2
The count is currently 4
The count is currently 6
The count is currently 8

# Lists, Sets, and Dictionaries

## Lists

In [58]:
list1 = ['cherry', 'math', 1937, 2020, 1];
listnum = [1, 3, 6, 7]
listchr = ['cherry', 'math', 'plus']

In [49]:
listnum

[1, 3, 6, 7]

In [50]:
list1

['cherry', 'math', 1937, 2020, 1]

In [52]:
listnum[0]

1

In [53]:
list1[3]

2020

In [56]:
#Updating or Chaging an element in a list
listnum[3]= 10;

In [57]:
listnum

[1, 3, 6, 10]

In [59]:
#Appending or Adding an element to a list
listnum.append(10)

In [60]:
listnum

[1, 3, 6, 7, 10]

In [61]:
del listnum[4]

In [62]:
listnum

[1, 3, 6, 7]

In [63]:
del listnum[0]

In [64]:
listnum

[3, 6, 7]

In [65]:
del listnum[0]

In [66]:
listnum

[6, 7]

## Sets

In [68]:
nset = set([1, "apple", "d"])
print(nset)

{1, 'd', 'apple'}

In [70]:
nset.add("e")
print(nset)

{1, 'e', 'd', 'apple'}

## Dictionary

In [71]:
dict={'Name': 'Matt', 'Age':20, 'Class':'Some'}
print(dict)

{'Name': 'Matt', 'Age': 20, 'Class': 'Some'}

In [72]:
dict['Age']

20

In [73]:
dict['Name']

'Matt'

In [74]:
dict['Age'] = 22
dict

{'Name': 'Matt', 'Age': 22, 'Class': 'Some'}

In [78]:
dict['Fav_Team'] ='Spurs'
dict

{'Name': 'Matt', 'Age': 22, 'Class': 'Some', 'Fav_Team': 'Spurs'}